<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Favicon -->
    <link rel="icon" href="static/images/favicon.png" type="image/png" sizes="15x10">
    
    <title>AdminHome - NewsHunter</title>

    <style>
      .pagination > li > a
      {
        background-color: white;
        color: #EB7D46;
      }

      .pagination > li > a:focus,
      .pagination > li > a:hover,
      .pagination > li > span:focus,
      .pagination > li > span:hover
      {
        color: #EB7D46;
        background-color: #eee;
        border-color: #ddd;
      }

      .pagination > .active > a
      {
        color: white;
        background-color: #EB7D46 !Important;
        border: solid 1px #EB7D46 !Important;
      }

      .pagination > .active > a:hover
      {
        background-color: #EB7D46 !Important;
        border: solid 1px #EB7D46;
      }
      #navbar_head{
        font-size: 1.2rem;
      }
      .navbar-nav > li > a:hover{
        color: #EB7D46 !Important;
      }
    </style>

  </head>
  <body style="font-family: 'Montserrat', sans-serif;">
    
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar_head">
        <a class="navbar-brand" href="/home"><img src="static/images/logo.png" style="width: 114px; height:72px;"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">   
            <li class="nav-item">
              <a class="nav-link navl" id="" href="/reported">Reported News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="latest_news" href="/adminhome">All News</a>
              </li>
          </ul>
          
          <ul class="navbar-nav ml-auto float-right">
            <li class="nav-item nav-link" id="">
              <a class="nav-link" href="/adminhome">Welcome Admin</a>
            </li>
            <li class="nav-item nav-link" id="">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
    </nav>
    <!-- Navbar end -->

    <!-- Content -->
    <div class="container my-3">
      <!-- {% block body %} -->
      <!-- {% endblock body %} -->
      {% for i in news%}
      <div class="card my-3">
          <div class="row">
            <div class="col-3">
              <a href="{{i.Article_link}}">
                <img class="card-img-top m-auto" src="{{i.Img_src}}" style="border-color: black; border-radius: 5px; width: 100%; max-width:300px;" alt="news image">
              </a>
            </div>
            <div class="col-9">
              <div class="card-body mx-3 my-3">
                <a style="color: black" class="headline_links" href="{{i.Article_link}}"><h4 class="card-title headline_links">{{i.Headline}}</h4></a><hr>
                <p class="card-text">{{i.Content}}</p>
                <a class="card-link" style="display: inline-block;">Source : {{i.Source}}</a>
                <div style="float: right;">
                  <form method="POST" action="/delete_news">
                    {% csrf_token %}
                    <input type="hidden" id="newsid" name="newsid" value="{{ i.id }}"/>
                    <input class="card-text btn btn-danger" type="submit" value="Remove"/>
                  </form>
                </div>
              </div>
            </div>
          </div>
      </div>
      {% endfor %}
    </div>
    <!-- Content End -->

    <!-- Pagination -->
    <div class="container">
    {% if news.has_other_pages %}
    <ul class="pagination pagination-lg justify-content-center">
      {% if news.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ news.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
      {% endif %}
      {% for i in news.paginator.page_range %}
        {% if news.number == i %}
          <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if news.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ news.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
      {% endif %}
    </ul>
    {% endif %}
    </div>
    <!-- Pagination end -->

    <footer class="footer">
      <div class="d-flex justify-content-center" style="background: #343A40">
        <span class="my-2 nav-link" style="color: white; text-align: center">News Hunter<br> Copyright &copy; 2021 </span>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>