{% extends 'base.html' %}

{% block styles %}
<style>
    #business{
        background-color: #1AA2B8;
        color: white;
    }
    #navbar_head{
        font-size: 1.2rem;
    }
    #business_news{
        color: #EB7D46;
    }
    #business_news:hover{
        /* background-color: #EB7D46; */
        color: #EB7D46;
    }
    .card-horizontal {
        display: flex;
        flex: 1 1 auto;
    }
    .card{
        margin-bottom: 1em;
        padding: 1em;
    }
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
    #demo{
        margin-top: 1em;
        margin-bottom: 3em;
    }
    .carousel-caption:hover{
        background: rgba(0, 0, 0, 0.7);
        font-size: 1.3rem;
    }
    .headline_links:hover{
        color: #EB7D46;
        text-decoration: none;
    }
    .report-btn{
        border: 0ex;
    }
    .report-btn:hover{
        color: white;
        background-color: #EB7D46;
    }
</style>
{% endblock styles %}

{% block title %}
Business - NewsHunter 
{% endblock title %}

{% block body %}

<div class="container">

    <!-- Carousel -->
     <div class="row">
         <div class="col-md">
            <div id="demo" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                  <li data-target="#demo" data-slide-to="0" class="active"></li>
                  <li data-target="#demo" data-slide-to="1"></li>
                  <li data-target="#demo" data-slide-to="2"></li>
                </ul>
              
                <!-- The slideshow -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    {% for news in last_three %}
                        {% if forloop.first %}
                        <a style="color: white;" class="headline_links" href="{{news.Article_link}}">
                            <img src="{{news.Img_src}}" alt="news image" style="height: 30rem;">
                            <div class="carousel-caption">
                                <h3 class="headline_links">{{news.Headline}}</h3>
                            </div>
                        </a>
                        {% endif %}
                    {% endfor %}
                  </div>
                  
                    {% for news in last_three %}
                        {% if forloop.first %}
                        {% else %}
                        <div class="carousel-item">
                            <a style="color: white;" class="headline_links" href="{{news.Article_link}}">
                                <img src="{{news.Img_src}}" alt="news image" style="height: 30rem;">
                                <div class="carousel-caption">
                                    <h3 class="headline_links">{{news.Headline}}</h3>
                                </div>
                            </a>
                        </div>
                        {% endif %}
                    {% endfor %}
                  
                </div>
              
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
              
              </div>
         </div>
     </div>   
    <!--Carousel End-->

    <div class="card-columns">
        {% for news in last_six %}
        <div class="card border-dark">
            <a href="{{news.Article_link}}">
                <img class="card-img-top m-auto" src="{{news.Img_src}}" style="border-color: black; border-radius: 5px; width: 100%; max-width:300px; " alt="news image">
            </a>
            <div class="card-body">
                <a style="color: black" class="headline_links" href="{{news.Article_link}}"><h4 class="card-title headline_links">{{news.Headline}}</h4></a><hr>
                <p class="card-text">{{news.Content}}</p>
                <a href="{{news.Article_link}}" class="card-link headline_links">Read More</a><br/>
                <a class="card-link">Source : {{news.Source}}</a>
            </div>
            <div class="card-footer text-muted border-dark">
                <p style="display: inline-block;">{{news.DateTime}} minutes ago</p>&nbsp;&nbsp;
                <div style="float: right;">
                    <form method="POST" action="/report">
                        {% csrf_token %}
                        <input type="hidden" id="newsid" name="newsid" value = "{{ news.id }}"/>
                        <button title="Report" class="report-btn" type="submit" ><i class="fa fa-flag" style="float: right;font-size: 1.5em;" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>

</div>
{% endblock body %}