{% extends 'base.html' %}

{% block styles %}
<style>
    #navbar_head{
        font-size: 1.2rem;
    }
    #latest_news{
        color: #EB7D46;
    }
    #latest_news:hover{
        /* background-color: #EB7D46; */
        color: #EB7D46;
    }
    .card-horizontal {
        display: flex;
        flex: 1 1 auto;
    }
    .card{
        margin-bottom: 1em;
        padding: 1em;
    }
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
    #demo{
        margin-top: 1em;
        margin-bottom: 3em;
    }
    
    .carousel-caption:hover{
        background: rgba(0, 0, 0, 0.7);
        font-size: 1.3rem;
    }
    .content {
            font-size: 0.5rem;
            position: absolute; /* Position the background text */
            bottom: 0; /* At the bottom. Use top:0 to append it to the top */
            background: rgb(0, 0, 0); /* Fallback color */
            background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
            color: #f1f1f1; /* Grey text */
            width: 96%; /* Full width */
            padding: 20px; /* Some padding */
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            
    }
    .headline_links:hover{
        color: #EB7D46;
        text-decoration: none;
    }
</style>
{% endblock styles %}


{% block title %}Home - NewsHunter
{% endblock title %}

{% block body %}

<!-- {% for news in last_four %}
Headline : <a href="{{news.Article_link}}"">{{news.Headline}}</a><br>
Image : <img src="{{news.Img_src}}" alt="image" srcset="" width="100px"> <br>
Description : {{news.Content}}<br>
<br>
{% endfor %} -->

<div class="container">

    <!-- Block -->
    <div class="container">
        <div class="row mt-4 mb-4" >
            <div  class="col-8">
                {% for news in last_five %}
                    {% if forloop.first %}
                    <a style="color: white;" class="headline_links" href="{{news.Article_link}}">
                        <img src="{{news.Img_src}}" style="border-radius: 20px; width: 100%; height: 100%; max-height: 29rem; align-self: stretch">
                        <div class="content">
                            <h2 class="headline_links">{{news.Headline}}</h2>
                        </div>
                    </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div  class="col-4" style="background-color: black; color: white; border-radius: 20px">
                <h2 class="my-3" style="color: #EB7D46">Latest news</h2>
                {% for news in last_five %}
                    {% if forloop.first %}
                    {% else %}
                    <div class="row my-3">
                        <div class="col-8 headline_links">
                            <a style="color: white;" class="headline_links" href="{{news.Article_link}}"><p class="headline_links">{{news.Headline}}</p></a>
                        </div>
                        <div class="col-4">
                            <a class="headline_links" href="{{news.Article_link}}"><img src="{{news.Img_src}}" width="100%"></a>
                        </div>
                    </div>
                    <hr color="white">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    
    <div class="card-columns">
        {% for news in last_eight %}
        <div class="card border-dark">
            <a href="{{news.Article_link}}">
                <img class="card-img-top m-auto" src="{{news.Img_src}}" style="border-color: black; border-radius: 5px; width: 100%; max-width:300px; " alt="news image">
            </a>
            <div class="card-body">
                <a style="color: black" class="headline_links" href="{{news.Article_link}}"><h4 class="card-title headline_links">{{news.Headline}}</h4></a><hr>
                <p class="card-text">{{news.Content}}</p>
                <a href="{{news.Article_link}}" class="card-link headline_links">Read More</a><br/>
                <a class="card-link">Source : {{news.Source}}</a>
            </div>
            <div class="card-footer text-muted border-dark">
                {{news.DateTime}} minutes ago
            </div>
        </div>

        {% endfor %}
    </div>
</div>

{% endblock body %}