<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="static/images/logo.png" type="image/png" sizes="15x10">
    
    <!-- <title> {% block title %}
    {% endblock title %} </title> 

    {% block styles %}
    {% endblock styles %} -->
  </head>
  <body style="font-family: 'Montserrat', sans-serif;">
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar_head">
        <a class="navbar-brand" href="/home"><img src="static/images/logo.png" style="width: 114px; height:72px;"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">   
            <li class="nav-item">
              <a class="nav-link" id="latest_news" href="">Reported News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="latest_news" href="">All News</a>
              </li>
          </ul>
          
          <ul class="navbar-nav ml-auto float-right">
            <li class="nav-item nav-link" id="">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    <div class="container my-3">
      <!-- {% block body %} -->
      <!-- {% endblock body %} -->

      <div class="card my-3">
          <div class="row">
            <div class="col-3">
              <img class="card-img-top" src="nature.jpg" alt="Card image cap" style="margin: 25px">
            </div>
            <div class="card-body mx-3 my-3">
              <h5 class="card-title">Headline</h5>
              <p class="card-text">Additional content.</p>
              <a href="#" style="position: absolute; bottom: 0" class="btn btn-danger my-5">Remove</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="row">
            <div class="col-3">
              <img class="card-img-top" src="nature.jpg" alt="Card image cap" style="margin: 25px">
            </div>
            <div class="card-body mx-3 my-3">
              <h5 class="card-title">Headline</h5>
              <p class="card-text">Additional content.</p>
              <a href="#" style="position: absolute; bottom: 0" class="btn btn-danger my-5">Remove</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="row">
            <div class="col-3">
              <img class="card-img-top" src="nature.jpg" alt="Card image cap" style="margin: 25px">
            </div>
            <div class="card-body mx-3 my-3">
              <h5 class="card-title">Headline</h5>
              <p class="card-text">Additional content.</p>
              <a href="#" style="position: absolute; bottom: 0" class="btn btn-danger my-5">Remove</a>
            </div>
          </div>
        </div>


    </div>

    <footer class="footer">
      <div class="d-flex justify-content-center" style="background: #343A40">
        <span class="my-2 nav-link" style="color: white; text-align: center">News Hunter<br> Copyright &copy; 2021 </span>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>